---
import CountUp from "@/components/CountUp";
import Container from "@/components/ui/Container.astro";
---

<section>
  <Container className="w-full grid grid-cols-2 justify-center md:grid-cols-4 gap-8">
    <div class="w-full flex items-end">
      <CountUp
      client:visible
      from={0}
      to={2}
      duration={1}
      direction="up"
      className="text-3xl xs:text-4xl sm:text-5xl font-bold min-w-[2ch] sm:min-w-[1ch] sm:mr-1"
      />
      <span class="text-sm sm:text-base">
        Years of <br> experience
      </span>
    </div>

    <div class="w-full flex items-end text-spanish-gray">
      <CountUp
        client:visible
        from={0}
        to={18}
        duration={1}
        direction="up"
        className="text-3xl xs:text-4xl sm:text-5xl font-bold min-w-[2ch]"
      />
      <span class="text-sm sm:text-base">
        Years <br> lived
      </span>
    </div>
    
    <div class="w-full items-end flex ">
      <CountUp
      client:visible
        from={0}
        to={21}
        duration={1}
        direction="up"
        className="text-3xl xs:text-4xl sm:text-5xl font-bold min-w-[2ch]"
      />
      <span class="text-sm sm:text-base">
        Projects <br> worked on
      </span>
    </div>

    <div class="w-full flex  items-end text-spanish-gray">
      <CountUp
        client:visible
        from={0}
        to={327}
        duration={2}
        direction="up"
        className="text-3xl xs:text-4xl sm:text-5xl font-bold min-w-[3ch]"
      />
      <span class="text-sm sm:text-base">
        Sleepless <br> nights
      </span>
    </div>
  </Container>
</section>