---
import Container from "@/components/ui/Container.astro";
import FrontendIconsList from "./FrontendIconsList";
import BackendIconsList from "./BackendIconsList";
import HoverAnimatedListItem from "./HoverAnimatedListItem.astro";
---

<section class="bg-cultured text-charcoal-gray flex flex-col space-y-4">
  <Container className="pt-8">
    <h2 class="text-3xl sm:text-4xl">My Tech Stack</h2>
  </Container>
  
  <Container>
    <div>
      <h3 class="text-2xl mb-4">Frontend</h3>
      <ul class="list-inside w-full">
        <HoverAnimatedListItem>HTML5 & CSS3</HoverAnimatedListItem>
        <HoverAnimatedListItem>JavaScript & TypeScript</HoverAnimatedListItem>
        <HoverAnimatedListItem>React.js & Next.js</HoverAnimatedListItem>
        <HoverAnimatedListItem className="line-through">Astro.js</HoverAnimatedListItem>
        <HoverAnimatedListItem>Tailwind CSS, SCSS, MUI, RadixUI</HoverAnimatedListItem>
        <HoverAnimatedListItem>Zustand, Redux Toolkit</HoverAnimatedListItem>
        <HoverAnimatedListItem>Jest, Vitest</HoverAnimatedListItem>
        <HoverAnimatedListItem>GSAP</HoverAnimatedListItem>
        <HoverAnimatedListItem>i18n & next-intl</HoverAnimatedListItem>
      </ul>
    </div>
  </Container>

  <div>
    <FrontendIconsList client:load/>
  </div>

  <Container className="text-right">
    <h3 class="text-2xl mb-4">Backend</h3>
    <ul class="list-none list-inside mb-8 w-full">
      <HoverAnimatedListItem translateDirection="right-to-left">Node.js & Express.js</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">FastAPI & Laravel</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">Go & PHP</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">PostgreSQL, MySQL, MongoDB, SQLite</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">Prisma, GORM, Alembic</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">JWT, OAuth</HoverAnimatedListItem>
      <HoverAnimatedListItem translateDirection="right-to-left">Supabase & Firebase</HoverAnimatedListItem>
    </ul>
  </Container>

  <div>
    <BackendIconsList client:load/>
  </div>

  <Container>
    <h3 class="text-2xl mb-4">Tools & Platforms</h3>
    <ul class="list-inside mb-8 w-full">
      <HoverAnimatedListItem>Git & GitHub</HoverAnimatedListItem>
      <HoverAnimatedListItem>Docker</HoverAnimatedListItem>
      <HoverAnimatedListItem>Figma</HoverAnimatedListItem>
      <HoverAnimatedListItem>Vercel, Render, Netlify</HoverAnimatedListItem>
      <HoverAnimatedListItem>ESLint, Prettier</HoverAnimatedListItem>
      <HoverAnimatedListItem>npm & yarn</HoverAnimatedListItem>
    </ul>
  </Container>
</section>