---
import Container from "@/components/ui/Container.astro";
import FrontendIconsList from "./FrontendIconsList";
import BackendIconsList from "./BackendIconsList";
---

<section class="bg-cultured text-charcoal-gray flex flex-col space-y-4">
  <Container className="pt-8">
    <h2 class="text-3xl sm:text-4xl">My Tech Stack</h2>
  </Container>
  
  <Container>
    <div>
      <h3 class="text-2xl mb-4">Frontend</h3>
      <ul class="list-inside">
        <li>HTML5 & CSS3</li>
        <li>JavaScript & TypeScript</li>
        <li>React.js & Next.js</li>
        <li class="line-through">Astro.js</li>
        <li>Tailwind CSS, SCSS, MUI, RadixUI</li>
        <li>Zustand, Redux Toolkit</li>
        <li>Jest, Vitest</li>
        <li>SAP</li>
        <li>i18n & next-intl</li>
      </ul>
    </div>
  </Container>

  <div>
    <FrontendIconsList client:load/>
  </div>

  <Container className="text-right">
    <h3 class="text-2xl mb-4">Backend</h3>
    <ul class="list-none list-inside mb-8">
      <li>Node.js & Express.js</li>
      <li>FastAPI & Laravel</li>
      <li>Go & PHP</li>
      <li>PostgreSQL, MySQL, MongoDB, SQLite</li>
      <li>Prisma, GORM, Alembic</li>
      <li>JWT, OAuth</li>
      <li>Supabase & Firebase</li>
    </ul>
  </Container>

  <div>
    <BackendIconsList client:load/>
  </div>

  <Container>
    <h3 class="text-2xl mb-4">Tools & Platforms</h3>
    <ul class="list-inside mb-8">
      <li>Git & GitHub</li>
      <li>Docker</li>
      <li>Figma</li>
      <li>Vercel, Render, Netlify</li>
      <li>ESLint, Prettier</li>
      <li>npm & yarn</li>
    </ul>
  </Container>
</section>