@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat Variable', 'sans-serif';
  --font-serif: 'Merriweather Variable', 'serif';

  --color-charcoal-gray: #121212;
  --color-cultured: #F5F5F5;
  --color-spanish-gray: #9A9A9A;
  --color-carmine-pink: #E54B4B;

  --breakpoint-xs: 30rem;
}