---
import Container from "@/components/ui/Container.astro";
---

<footer class="bg-charcoal-gray">
  <Container className="py-6">
    <div class="text-sm text-center">
      &copy; {new Date().getFullYear()} Maxim Mun. All rights reserved.
    </div>
  </Container>
</footer>