---
import Container from "../ui/Container.astro";

const LINKS = [
  { name: "Stack", href: "#tech-stack" },
  { name: "Portfolio", href: "#portfolio" },
];
---

<header class="lg:text-lg z-50 md:absolute top-0 w-full bg-transparent border-b sm:border-none border-spanish-gray/20 flex items-center">
  <Container className="mr-auto ml-auto md:mr-0">
    <nav>
      <ul class="flex items-center divide-x divide-solid divide-spanish-gray/30">
        {LINKS.map((link) => (
            <li class="px-3 first:pl-0 last:pr-0">
              <a
                class="text-spanish-gray hover:text-carmine-pink hover:font-serif hover:font-light hover:italic transition-all duration-200" 
                href={link.href} 
                id={"header-link-" + link.href.substring(1)}
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul>
      </nav>
  </Container>
</header>
