---
import StarryBackground from "@/components/StarryBackground.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const PHRASES = [
  "Forgetten realms you seek, but lost you are",
  "Page not found",
  "I didn't create this page... yet",
  "Stranger things have happened",
  "Dead end ahead",
];
---

<BaseLayout title="404 - Page Not Found">
  <main class="relative flex flex-col items-center justify-center min-h-dvh overflow-hidden">
    <StarryBackground />
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-1 text-cultured whitespace-nowrap tracking-widest">
      404
    </h1>
    <p class="text-spanish-gray">
      {PHRASES[Math.floor(Math.random() * PHRASES.length)]}
    </p>
    <button onclick="history.back()" class="absolute bottom-8 text-spanish-gray underline z-10 cursor-pointer hover:text-cultured transition-all duration-300 ">
      Go Back
    </button>
  </main>
</BaseLayout>