---
import Follower from '@/components/Follower';
import HeroSection from '@/features/home/components/HeroSection.astro';
import StatsSection from '@/features/home/components/StatsSection.astro';
import TechStackSection from '@/features/home/components/TechStackSection.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Max Mun - Portfolio">
  <Follower client:load />
  <main class="py-8">
    <HeroSection />
    <StatsSection />

    <div class="bg-cultured">
      <div class="w-full h-32">
        <svg class="w-full h-full" viewBox="0 0 100 50" preserveAspectRatio="none">
          <path d="M0,50 Q50,0 100,50 L100,0 L0,0 Z" fill="currentColor" class="text-charcoal-gray"/>
        </svg>
      </div>
    </div>
    
    <TechStackSection />
  </main>
</BaseLayout>