---
import Follower from '@/components/Follower';
import HeroSection from '@/features/home/HeroSection.astro';
import TechStackSection from '@/features/home/TechStackSection.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Max Mun - Portfolio">
  <Follower client:load />
  <main class="py-8">
    <HeroSection />
    <TechStackSection />
  </main>
</BaseLayout>