---
import { badgeBaseClass } from "@/styles/components/badge";
import { cn } from "@/utils/styles";

  const { className } = Astro.props;
---

<span class={cn(badgeBaseClass, className)}>
  <slot />
</span>