---
import type { HTMLAttributes } from "astro/types";
import Input from "./Input.astro";
import { cn } from "@/utils/styles";
import { labelBaseClass } from "@/styles/components/input";

interface Props extends HTMLAttributes<"input"> {
  label: string;
  containerClassName?: string;
  inputClassName?: string;
  labelClassName?: string;
}

const { label, containerClassName = "", inputClassName = "", labelClassName = "", ...inputProps } = Astro.props;
---

<div class={cn("relative", containerClassName)}>
  <Input className={inputClassName} {...inputProps} />
  <label class={cn(labelBaseClass, labelClassName)}>
    {label}
  </label>
</div>